.App {
  text-align: center;
}
.placeholder {
  text-align: center;
  width: 100%;
  margin-bottom: 1%;
}
.placeholder::after{
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.am-search-cancel{
  display:none;
}
.am-search-value{
  width: 90%;
}
.one{
  width: 100%;
}
.two{
  line-height: 2.5em;
  float: left;
  width: 25%;
  height: 2.5em;
}
.one>.two:first-child{
  background-color: aqua;
}
.one>.two:first-child+.two{
  background-color: blueviolet;
}
.one>.two:first-child+.two+.two{
  background-color: brown;
}
.one>.two:last-child{
  background-color: antiquewhite;
}
.not-square-grid .am-grid-icon {
  width: 30%;
  height: auto;
}
.sub-title {
  color: #888;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px 9px 15px;
  
}
.sub-title-right{
  float: right;
}
.foot{
  background-color: rgb(247, 238, 228);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99.9%;
  height: 7%;
  line-height: 4em;
  z-index: 1;
  border-top: 1px solid  rgb(238, 205, 205);
}
a{
  text-decoration: none;
  color: #888;
}
.left-one,.left-two,.left-three,.left-four{
  text-align: center;
  float: left;
  height: 100%;
  width: 27.6%;
  border-right: 1px solid rgb(238, 205, 205);
}
.left-one{
  width: 16%;
}
.left-four{
  border-right: none;
}
.qqq{
  width: 100%;
  height: 70px;
}