.App {
  text-align: center;
}
.placeholder {
  text-align: center;
  width: 100%;
  margin-bottom: 1%;
}
.placeholder::after{
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.am-search-cancel{
  display:none;
}
.am-search-value{
  width: 90%;
}
.one{
  width: 100%;
}
.two{
  line-height: 2.5em;
  float: left;
  width: 25%;
  height: 2.5em;
}
.one>.two:first-child{
  background-color: aqua;
}
.one>.two:first-child+.two{
  background-color: blueviolet;
}
.one>.two:first-child+.two+.two{
  background-color: brown;
}
.one>.two:last-child{
  background-color: antiquewhite;
}
.not-square-grid .am-grid-icon {
  width: 30%;
  height: auto;
}
.sub-title {
  color: #888;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0 9px 15px;
  
}
